<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Погодо-Проверятель-3000</title>
    <style>
        {# A cool gradient background for the page #}
        body {
            background: linear-gradient(to bottom, #0072ff, #00c6ff);
        }


        {# Relative positioning chicanery for the sun image #}
        .page-container {
            position: relative;
            overflow: hidden;
        }

        .sun-image {
            position: absolute;
            top: -50px;
            right: -50px;
            width: 150px;
            height: auto;
            z-index: 10;
        }
    </style>
</head>
<body>
<div class="page-container relative">

    <div class="flex justify-center items-center h-screen flex-col p-8 pb-1">
        <h1 class="text-5xl font-bold text-center text-white mb-4">Погодо-Проверятель-3000</h1>

        <div class="flex justify-center items-center flex-col flex-1 w-full">
            <form action="/" method="POST" class="flex flex-row justify-around items-center w-full">

                <div class="bg-white py-6 rounded-3xl shadow-md px-4 w-[30%]">
                    <label for="orig-city-select" class="block text-xl font-semibold text-gray-700 mb-2">Откуда
                        едем?</label>

                    <div class="">
                        <select id="orig-city-select" name="orig-city"
                                class="mt-1 block w-full py-3 px-4 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 transition duration-300">
                            {% for city in cities.keys() %}
                                <option value="{{ city }}"
                                        {% if city == "Москва" %}selected{% endif %}>{{ city }}
                                </option>
                            {% endfor %}
                            <option value="CitySearch"> -- Найти город...</option>

                        </select>
                        <div id="orig-city-search" class="mt-3" hidden>
                            <label for="orig-city-search-input">Название Города</label>
                            <input type="text" placeholder="Искомый город" id="orig-city-search-input"
                                   name="orig-city-search-input"
                                   class="block w-full py-3 px-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 transition duration-300 sm:text-base">
                            <div id="orig-city-search-error" class="mt-2 text-sm text-red-500"></div>
                        </div>

                    </div>

                    <div class="flex justify-center items-center my-4">
                        <span class="bg-gray-200 h-px flex-1"></span>
                        <span class="text-gray-500 px-4 text-sm font-semibold">или</span>
                        <span class="bg-gray-200 h-px flex-1"></span>
                    </div>

                    <div class="flex flex-row justify-around items-center gap-3">
                        <div class="flex flex-col">
                            <label for="orig-latitude"
                                   class="block text-sm font-medium text-gray-700 mb-1">Широта</label>
                            <input type="text" id="orig-latitude" name="orig-latitude"
                                   class="block w-full py-3 px-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 transition duration-300 _bg-red-500"
                                   placeholder="Введите широту">
                        </div>
                        <div class="flex flex-col">
                            <label for="orig-longitude"
                                   class="block text-sm font-medium text-gray-700 mb-1">Долгота</label>
                            <input type="text" id="orig-longitude" name="orig-longitude"
                                   class="block w-full py-3 px-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 transition duration-300 _bg-red-500"
                                   placeholder="Введите долготу">
                        </div>

                    </div>
                </div>


                <div class="flex flex-col justify-center items-center w-[30%]">
                    <img src="/static/wavy_arrow.png" alt="Wavy arrow" class="w-[80%] h-[100px] my-auto">
                    <button class="bg-white hover:bg-gray-200 text-black text-2xl font-bold rounded-full mt-16 py-4 px-16 disabled:bg-red-700 disabled:text-white"
                            type="submit"
                            id="submit-button"

                    >Проверить
                    </button>
                </div>


                <div class="bg-white py-6 rounded-3xl shadow-md px-4 w-[30%]">
                    <label for="dest-city-select" class="block text-xl font-semibold text-gray-700 mb-2">Куда
                        едем?</label>

                    <div class="relative">
                        <select id="dest-city-select" name="dest-city"
                                class="mt-1 block w-full py-3 px-4 border border-gray-300 bg-white rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 transition duration-300">
                            {% for city in cities.keys() %}
                                <option value="{{ city }}"
                                        {% if city == "Москва" %}selected{% endif %}>{{ city }}</option>
                            {% endfor %}
                            <option value="CitySearch"> -- Найти город...</option>
                        </select>
                        <div id="dest-city-search" class="mt-3" hidden>
                            <label for="dest-city-search-input">Название Города</label>
                            <input type="text" placeholder="Искомый город" id="dest-city-search-input"
                                   name="dest-city-search-input"
                                   class="block w-full py-3 px-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 transition duration-300">
                            <div id="dest-city-search-error" class="mt-2 text-sm text-red-500"></div>
                        </div>

                    </div>

                    <div class="flex justify-center items-center my-4">
                        <span class="bg-gray-200 h-px flex-1"></span>
                        <span class="text-gray-500 px-4 text-sm font-semibold">или</span>
                        <span class="bg-gray-200 h-px flex-1"></span>
                    </div>

                    <div class="flex flex-row justify-around items-center gap-3">
                        <div class="flex flex-col">
                            <label for="dest-latitude"
                                   class="block text-sm font-medium text-gray-700 mb-1">Широта</label>
                            <input type="text" id="dest-latitude" name="dest-latitude"
                                   class="block w-full py-3 px-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 transition duration-300 _bg-red-500"
                                   placeholder="Введите широту">
                        </div>
                        <div class="flex flex-col">
                            <label for="dest-longitude"
                                   class="block text-sm font-medium text-gray-700 mb-1">Долгота</label>
                            <input type="text" id="dest-longitude" name="dest-longitude"
                                   class="block w-full py-3 px-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 transition duration-300 _bg-red-500"
                                   placeholder="Введите долготу">
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {% if origin_weather or destination_weather or origin_weather_error or destination_weather_error %}
            <div class="flex flex-1 justify-around flex-row w-full text-2xl my-5">
                <div class="flex flex-col text-white items-center bg-opacity-70 bg-blue-500 rounded-lg shadow-lg p-6 w-[40%]"
                     style="backdrop-filter: blur(10px);">
                    {% if origin_weather_error %}
                        <h2 class="text-2xl font-semibold text-red-800">{% if origin_weather_error['reason'] %}
                            {{ origin_weather_error.reason }} {% else %}  {{ origin_weather_error }} {% endif %}</h2>
                    {% elif origin_weather %}
                        <h2 class="text-4xl font-bold mb-5">Погода в месте отправления</h2>

                        {% if origin_weather.is_bad_weather %}
                            <h1 class="text-5xl font-bold text-red-800 _animate-pulse">Не лучшая</h1>
                        {% else %}
                            <h1 class="text-5xl font-bold text-green-400 _animate-pulse">Отличная!</h1>
                        {% endif %}

                        <div class="flex flex-col gap-4 mt-10 p-4 bg-opacity-60 bg-white rounded-lg shadow-inner w-full max-w-md">
                            <h3 class="text-3xl font-semibold text-gray-900">Подробнее:</h3>
                            <p class="text-lg font-medium text-gray-800">Температура: <span
                                    class="font-bold text-blue-600">{{ origin_weather.temperature }} °C</span></p>
                            <p class="text-lg font-medium text-gray-800">Влажность: <span
                                    class="font-bold text-blue-600">{{ origin_weather.humidity }} %</span></p>
                            <p class="text-lg font-medium text-gray-800">Скорость ветра: <span
                                    class="font-bold text-blue-600">{{ origin_weather.wind_speed }} m/s</span></p>
                            <p class="text-lg font-medium text-gray-800">Вероятность осадков: <span
                                    class="font-bold text-blue-600">{{ origin_weather.precipitation_probability }} %</span>
                            </p>
                        </div>

                    {% endif %}
                </div>
                <div class="flex flex-col text-white items-center bg-opacity-70 bg-blue-500 rounded-lg shadow-lg p-6 w-[40%]"
                     style="backdrop-filter: blur(10px);">
                    {% if destination_weather_error %}
                        <h2 class="text-2xl font-semibold text-red-800">{{ destination_weather_error }}</h2>
                    {% elif destination_weather %}
                        <h2 class="text-4xl font-bold mb-5">Погода в месте назначения</h2>

                        {% if destination_weather.is_bad_weather %}
                            <h1 class="text-5xl font-bold text-red-800 _animate-pulse">Не лучшая</h1>
                        {% else %}
                            <h1 class="text-5xl font-bold text-green-400 _animate-pulse">Отличная!</h1>
                        {% endif %}

                        <div class="flex flex-col gap-4 mt-10 p-4 bg-opacity-60 bg-white rounded-lg shadow-inner w-full max-w-md">
                            <h3 class="text-3xl font-semibold text-gray-900">Подробнее:</h3>
                            <p class="text-lg font-medium text-gray-800">Температура: <span
                                    class="font-bold text-blue-600">{{ destination_weather.temperature }} °C</span></p>
                            <p class="text-lg font-medium text-gray-800">Влажность: <span
                                    class="font-bold text-blue-600">{{ destination_weather.humidity }} %</span></p>
                            <p class="text-lg font-medium text-gray-800">Скорость ветра: <span
                                    class="font-bold text-blue-600">{{ destination_weather.wind_speed }} m/s</span></p>
                            <p class="text-lg font-medium text-gray-800">Вероятность осадков: <span
                                    class="font-bold text-blue-600">{{ destination_weather.precipitation_probability }} %</span>
                            </p>
                        </div>

                    {% endif %}
                </div>
            </div>
        {% endif %}
        <a href="https://www.flaticon.com/free-icons/summer" title="summer icons" class="text-white mr-auto text-sm">Summer
            icons created by Freepik - Flaticon</a>
        <a href="https://www.flaticon.com/free-icons/clear-sky" title="clear sky icons" class="text-white mr-auto text-sm">Clear
            sky icons created by kosonicon - Flaticon</a>

    </div>

    <img src="/static/sun.png" alt="Sun" class="sun-image">
</div>


</body>


<script defer>

    /**
     * Debounce function for input fields.
     * @param fn - function to be debounced
     * @param delay - delay in milliseconds
     * @param args - additional arguments to be passed to the function
     */
    function debounce(fn, delay, ...args) {
        let timeoutId;
        return function (...eventArgs) {
            if (timeoutId) clearTimeout(timeoutId);
            timeoutId = setTimeout(() => {
                fn.apply(this, [...eventArgs, ...args]);
            }, delay);
        };
    }

    /**
     * Handles city search for the specified input field.
     * @param event - event object
     * @param str - string representing the input field
     */
    function handleCitySearch(event, str) {
        const searchQuery = event.target.value;
        if (searchQuery === '') {
            return;
        }

        console.log('Searching for:', searchQuery);

        fetch('/get_city_coordinates?city_name=' + searchQuery)
            .then(response => response.json())
            .then(data => {
                console.log('Received coordinates:', data);

                document.getElementById(`${str}-latitude`).value = data[0];
                document.getElementById(`${str}-longitude`).value = data[1];

                document.getElementById(`${str}-city-search-input`).className = "block w-full py-3 px-4 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 transition duration-300 sm:text-base";
                document.getElementById(`${str}-city-search-error`).innerHTML = "";


                validateCoordinates()
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById(`${str}-city-search-input`).className += " bg-red-500";
                document.getElementById(`${str}-city-search-error`).innerHTML = "Упс! Место не найдено...";
                validateCoordinates()
            });
    }

    /**
     * Configures city search for the specified input fields.
     */
    function configureCitySearch() {
        const origCitySearchInput = document.getElementById('orig-city-search-input');
        origCitySearchInput.addEventListener('input', debounce(handleCitySearch, 750, "orig"));

        const destCitySearchInput = document.getElementById('dest-city-search-input');
        destCitySearchInput.addEventListener('input', debounce(handleCitySearch, 750, "dest"));
    }


    /**
     * Validates the coordinates entered by the user.
     */
    function validateCoordinates() {
        const submitButton = document.getElementById("submit-button");
        submitButton.disabled = false;
        submitButton.title = ""

        if (checkCoordinatesValidity('orig') && checkCoordinatesValidity('dest')) {
            submitButton.disabled = false;
            submitButton.title = ""
            return true
        }
        return false
    }

    /**
     * Checks the validity of the coordinates entered by the user in the specified input fields.
     * @param str - string representing the input field type: "orig" or "dest"
     * @return true if the coordinates are valid, false otherwise
     */
    function checkCoordinatesValidity(str) {
        const submitButton = document.getElementById("submit-button");

        if (parseFloat(document.getElementById(`${str}-latitude`).value) < -90 ||
            parseFloat(document.getElementById(`${str}-latitude`).value) > 90 || document.getElementById(`${str}-latitude`).value === "") {
            submitButton.disabled = true;
            submitButton.title = "Неверные координаты места отправления"
        } else if (parseFloat(document.getElementById(`${str}-longitude`).value) < -180 ||
            parseFloat(document.getElementById(`${str}-longitude`).value) > 180 || document.getElementById(`${str}-longitude`).value === "") {
            submitButton.disabled = true;
            submitButton.title = "Неверные координаты места назначения"
        } else {
            return true;
        }

    }


    /**
     * Configures the city select for the specified input field.
     * @param str - string representing the input field
     * @param selectedCity - selected city
     * @param latitude - latitude of the selected city
     * @param longitude - longitude of the selected city
     * @param searchedCity - searched city
     */
    function configureCitySelect(str, selectedCity, latitude, longitude, searchedCity) {
        const citySelect = document.getElementById(`${str}-city-select`);

        if (selectedCity === "CitySearch") {
            const citySearch = document.getElementById(`${str}-city-search`);

            citySearch.hidden = false;
            document.getElementById(`${str}-city-select`).value = selectedCity;
            document.getElementById(`${str}-city-search-input`).value = searchedCity;
            document.getElementById(`${str}-latitude`).value = latitude;
            document.getElementById(`${str}-longitude`).value = longitude;
        } else if (selectedCity && citiesWithCoordinates[selectedCity]) {
            document.getElementById(`${str}-city-select`).value = selectedCity;
            document.getElementById(`${str}-latitude`).value = latitude;
            document.getElementById(`${str}-longitude`).value = longitude;
        } else {
            const defaultCity = "Москва";
            const [defaultLat, defaultLon] = citiesWithCoordinates[defaultCity];
            document.getElementById(`${str}-latitude`).value = defaultLat;
            document.getElementById(`${str}-longitude`).value = defaultLon;
        }

        citySelect.addEventListener('change', function () {
            const selectedCity = citySelect.value;
            const citySearch = document.getElementById(`${str}-city-search`);

            if (selectedCity === "CitySearch") {
                citySearch.hidden = false;
                document.getElementById(`${str}-latitude`).value = '';
                document.getElementById(`${str}-longitude`).value = '';

            } else {
                citySearch.hidden = true;
                if (selectedCity && citiesWithCoordinates[selectedCity]) {
                    const [latitude, longitude] = citiesWithCoordinates[selectedCity];
                    document.getElementById(`${str}-latitude`).value = latitude;
                    document.getElementById(`${str}-longitude`).value = longitude;
                } else {
                    document.getElementById(`${str}-latitude`).value = '';
                    document.getElementById(`${str}-longitude`).value = '';
                }
            }
            validateCoordinates()
        });


        document.getElementById(`${str}-latitude`).addEventListener('input', function () {
            let thisStr = this.value.toString();

            if(!thisStr.match(/^-?[0-9]+(\.[0-9]+)?$/) || !validateCoordinates()) {
                this.className = this.className.replace(" _bg-red-500", " bg-red-500");
            } else {
                this.className = this.className.replace(" bg-red-500", " _bg-red-500");
            }


            validateCoordinates();


            citySelect.value = "Другая локация";
            document.getElementById(`${str}-city-search`).hidden = true;
            document.getElementById(`${str}-city-search-input`).value = "";
        });

        document.getElementById(`${str}-longitude`).addEventListener('input', function () {
            let thisStr = this.value.toString();

            if(!thisStr.match(/^-?[0-9]+(\.[0-9]+)?$/) || !validateCoordinates()) {
                this.className = this.className.replace(" _bg-red-500", " bg-red-500");
            } else {
                this.className = this.className.replace(" bg-red-500", " _bg-red-500");
            }


            validateCoordinates();


            citySelect.value = "Другая локация";
            document.getElementById(`${str}-city-search`).hidden = true;
            document.getElementById(`${str}-city-search-input`).value = "";
        });
        }


    const citiesWithCoordinates = {{ cities | tojson }};

    const origCity = "{{ form_data.origin_city }}";
    const origSearchedCity = "{{ form_data.origin_searched_city }}";
    const origLatitude = "{{ form_data.origin_latitude }}";
    const origLongitude = "{{ form_data.origin_longitude }}";
    const destCity = "{{ form_data.destination_city }}";
    const destLatitude = "{{ form_data.destination_latitude }}";
    const destLongitude = "{{ form_data.destination_longitude }}";
    const destSearchedCity = "{{ form_data.destination_searched_city }}";

    configureCitySelect("orig", origCity, origLatitude, origLongitude, origSearchedCity);
    configureCitySelect("dest", destCity, destLatitude, destLongitude, destSearchedCity);

    configureCitySearch();
</script>
</html>
